.friendBox {
  display: flex;
  flex-direction: column;
}

.cardsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
}

.card {
  margin-left: 3vw;
  margin-bottom: 3vh;
  border: 2px solid gray;
  border-radius: 5%;
  box-shadow: 2px;
  padding: 1vw;
}

.center {
  margin-top: 20px;
  text-align: center;
}
