.noBullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

  display: flex;
  flex-direction: column;
}

.centerText {
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.leftText {
  position: relative;
  width: 50vw;
  border: 2px solid #2d2d33;
  background-color: #595964;
  margin-top: 25px;
  color: rgb(232, 230, 240);
  font-size: 25px;
}

.rightText {
  position: relative;
  left: 50%;
  transform: translateX(-25%);
  width: 50vw;
  border: 2px solid #2d2d33;
  background-color: #285228;
  margin-top: 25px;
  color: rgb(232, 230, 240);
  font-size: 25px;
}

.chatWindow {
  margin: auto;
  width: 75vw;
  background-color: #17171b;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75vh;
}

.msgFrom {
  font-size: 15px;
  margin-left: 5px;
}

.msgMessage {
  font-size: 25px;
}

.roomName {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 75vw;
  height: 5vh;
  background-color: #3b3b47;
  z-index: 2;
}

.messageBox {
  display: flex;
  flex-direction: column;
}

.flexBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chatBox {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sendButton {
  width: 10vw;
  border-radius: 25%;
  height: 5vh;
  background-color: #3793fc;
}

.sendButton:hover {
  background-color: #0579ff;
}

.imageAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatInput {
  width: 50vw;
}
