.noBullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

  display: flex;
  flex-direction: column;
}

.centerText {
  text-align: center;
}

.leftText {
  position: relative;
  width: 50vw;
  border: 2px solid #2d2d33;
  background-color: #595964;
  margin-top: 25px;
  color: rgb(232, 230, 240);
  font-size: 25px;
}

.rightText {
  position: relative;
  left: 50%;
  transform: translateX(-25%);
  width: 50vw;
  border: 2px solid #2d2d33;
  background-color: #285228;
  margin-top: 25px;
  color: rgb(232, 230, 240);
  font-size: 25px;
}

.chatWindow {
  margin: auto;
  width: 75vw;
  background-color: #17171b;
}

.msgFrom {
  font-size: 15px;
}

.msgMessage {
  font-size: 25px;
}

.messageBox {
  display: flex;
  flex-direction: column;
}
